/*
vw - width viewport
vh -height viewport
*/
body {
    margin: 0;
}

.item {
    box-sizing: border-box;
    border: 2px solid red;
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}