/*
vw - width viewport
vh -height viewport
*/
body {
    margin: 0;
}

.container {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}

.item {
    border: 2px solid red;
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}