section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

article {
    flex-basis: 10%;
}

article:first-child {
    flex-grow: 5;
}

@media screen and (max-width: 576px) { 
    section {
       flex-direction: column;
    }

    article {
        
        width: 100%;
    }
}