:root {
    --sm-size: 576px;
    --md-size: 768px;
    --lg-size: 992px;
    --xl-size: 1200px;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

article {
    flex-basis: 10%;
}

article:first-child {
    flex-grow: 5;
}

@media screen and (min-width: 576px) {
   p {
    color: green;
   }
}

@media screen and (min-width: 768px) {
    p {
     color: red;
    }
 }

 @media screen and (min-width: 992px) {
    p {
     color: blueviolet;
    }
 }

 @media screen and (min-width: 1200px) {
    p {
     color: blue;
    }
 }